# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your Emory ID below

In [37]:
# Write your answer here:

print("2455275")

2455275

<font size = "5">

Import the "pandas" and 

"sqlalchemy","URL", and "text" libraries from "sqlalchemy" <br>

In [38]:
%pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/peterlin/anaconda3/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [39]:
# Write your answer here:

import pandas as pd
from sqlalchemy import create_engine
from   sqlalchemy.engine import URL
from   sqlalchemy import text
import psycopg2

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, you can leave out the database argument.

In [40]:
# Write your own code
url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    port = 5432,
    password  = "")

connection = create_engine(url_server)

<font size = "5">

In this homework, you will repeat most of the  exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Ensure for each exercise you are using the specific Python commands(ie-pd.read_sql)


<font size = "5">

(a) Upload dataset to SQL


<font size = "3">

- Read the file "homework9_table.csv" in the "data_raw" folder
- Upload the file to your local SQL server using the <br>
"to_sql" command. Call the new file "sprint_results" in the <br>
server

In [41]:
# Write your own code

df = pd.read_csv("data_raw/homework9_table.csv")

df.to_sql('sprint_results',
               con = connection,
               if_exists='replace',
               index=False)

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
df.head()

   Unnamed: 0  driver_id      driver_name nationality  lap_times
0           0          1     Simon Cowell     British         74
1           1          2  Fernando Alonso     Spanish         26
2           2          3    Heinrich Bach      German         82
3           3          4  Giorgio Soprano     Spanish         87
4           4          5   Lewis Hamilton     British        103


<font size = "5">

For questions (b)-(e) we will be working with the table <br>
``` homework9_table ``` in the SQL server. You are required to use <br>
the ```read_sql``` command for all the following questions.


<font size = "5">

(b) Subset and sort


<font size = "3">

- Use ```WHERE``` to get a subset of "homework9_table" to subset <br>
drivers whose nationality is British.
- Chain this with ```ORDER BY driver_name ASC``` to sort in <br>
ascending order <br>
Hints:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command without any additional escape characters

In [ ]:
# Write your own code

data = pd.read_sql(text("SELECT *\
                        FROM sprint_results\
                        WHERE nationality = 'British'\
                        ORDER BY driver_name ASC;"),connection)


display(data)

   Unnamed: 0  driver_id     driver_name nationality  lap_times
0           5          6    Henry Louvre     British         32
1           4          5  Lewis Hamilton     British        103
2           0          1    Simon Cowell     British         74

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

- Obtain the average of "lap_times" by "driverId" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "lap_times"
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```

In [ ]:
# Write your own code

data1 = pd.read_sql(text("SELECT driver_id, AVG(lap_times) AS avg_lap_time\
                        FROM sprint_results\
                         GROUP BY driver_id\
                         ORDER BY AVG(lap_times);"),connection)

display(data1)

   driver_id  avg_lap_time
0          9          11.0
1         10          24.0
2          2          26.0
3          6          32.0
4          8          53.0
5          1          74.0
6          3          82.0
7          4          87.0
8          7          91.0
9          5         103.0

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- Obtain the sum of "lap_times" by nationality using ```GROUP BY```
- Use ```HAVING ``` to filter nationalities with a sum <br>
of lap times strictly higher than 150
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```



HINT: See the end of lecture 16 for details <br>
HINT: Use ```HAVING SUM(lap_times)``` rather than an alias <br>
for the code to work correctly.

In [49]:
# Write your own code

data2 = pd.read_sql(text("SELECT nationality, SUM(lap_times) AS sum_lap_time\
                         FROM sprint_results\
                         GROUP BY nationality\
                         HAVING sum(lap_times) > 150;"),connection)

display(data2)

  nationality  sum_lap_time
0      German         261.0
1     British         209.0

<font size = "5">

(e) Groupby and multiple aggregations

<font size = "3">

- In this exercise we will obtain multiple statistics about each nationality and their lap times.
-  Obtain the sum, min, max, and range of each nationality's lap times using ```GROUP BY```
- Make sure to separate pieces of your code by a ```\``` <br>
HINT: There is no built in range function in SQL, however you can use the <br>
MAX and MIN functions to build your own function, like this:

``` MAX(lap_times)-MIN(lap_times) AS range_laptimes```

In [51]:
# Write your own code

data3 = pd.read_sql(text("SELECT nationality,\
                         SUM(lap_times) AS sum_laptime,\
                         MIN(lap_times) AS min_laptime,\
                         MAX(lap_times) AS max_laptime,\
                         MAX(lap_times)-MIN(lap_times) AS range_laptimes\
                         FROM sprint_results\
                         GROUP BY nationality;"),connection)

data3

  nationality  sum_laptime  min_laptime  max_laptime  range_laptimes
0      German        261.0           11           91              80
1     Spanish        113.0           26           87              61
2     British        209.0           32          103              71