# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your Emory ID below

In [1]:
# Write your answer here:

print("2455275")

2455275

<font size = "5">

Import the "pandas" and 

"sqlalchemy","URL", and "text" libraries from "sqlalchemy" <br>

In [7]:
%pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.9.tar.gz (384 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> [34 lines of output]
      running bdist_wheel
      running build
      running build_py
      creating build
      creating build/lib.macosx-11.1-arm64-cpython-311
      creating build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/_json.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/extras.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/errorcodes.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/tz.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/_range.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/_ipaddress.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/__init__.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/extensions.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/errors.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/sql.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      copying lib/pool.py -> build/lib.macosx-11.1-arm64-cpython-311/psycopg2
      running build_ext
      building 'psycopg2._psycopg' extension
      creating build/temp.macosx-11.1-arm64-cpython-311
      creating build/temp.macosx-11.1-arm64-cpython-311/psycopg
      clang -DNDEBUG -fwrapv -O2 -Wall -fPIC -O2 -isystem /Users/peterlin/anaconda3/include -arch arm64 -fPIC -O2 -isystem /Users/peterlin/anaconda3/include -arch arm64 "-DPSYCOPG_VERSION=2.9.9 (dt dec pq3 ext lo64)" -DPSYCOPG_DEBUG=1 -DPG_VERSION_NUM=120015 -DHAVE_LO64=1 -DPSYCOPG_DEBUG=1 -I/Users/peterlin/anaconda3/include/python3.11 -I. -I/Users/peterlin/anaconda3/include -I/Users/peterlin/anaconda3/include/server -I/Users/peterlin/anaconda3/include -c psycopg/adapter_asis.c -o build/temp.macosx-11.1-arm64-cpython-311/psycopg/adapter_asis.o
      xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun

      It appears you are missing some prerequisite to build the package from source.

      You may install a binary package by installing 'psycopg2-binary' from PyPI.
      If you want to install psycopg2 from source, please install the packages
      required for the build and try again.

      For further information please check the 'doc/src/install.rst' file (also at
      <https://www.psycopg.org/docs/install.html>).

      error: command '/usr/bin/clang' failed with exit code 1
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for psycopg2
  Running setup.py clean for psycopg2
Failed to build psycopg2
ERROR: Could not build wheels for psycopg2, which is required to install pyproject.toml-based projects
Note: you may need to restart the kernel to use updated packages.

In [8]:
# Write your answer here:

import pandas as pd
from sqlalchemy import create_engine
from   sqlalchemy.engine import URL
from   sqlalchemy import text
import psycopg2

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, you can leave out the database argument.

In [9]:
# Write your own code
url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    port = 5432,
    password  = "")

connection = create_engine(url_server)

<font size = "5">

In this homework, you will repeat most of the  exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Ensure for each exercise you are using the specific Python commands(ie-pd.read_sql)


<font size = "5">

(a) Upload dataset to SQL


<font size = "3">

- Read the file "homework9_table.csv" in the "data_raw" folder
- Upload the file to your local SQL server using the <br>
"to_sql" command. Call the new file "sprint_results" in the <br>
server

In [12]:
# Write your own code

df = pd.read_csv("data_raw/homework9_table.csv")

df.to_sql('sprint_results',
               con = connection,
               if_exists='replace',
               index=False)

10

In [16]:
df.head()

   Unnamed: 0  driver_id      driver_name nationality  lap_times
0           0          1     Simon Cowell     British         74
1           1          2  Fernando Alonso     Spanish         26
2           2          3    Heinrich Bach      German         82
3           3          4  Giorgio Soprano     Spanish         87
4           4          5   Lewis Hamilton     British        103


<font size = "5">

For questions (b)-(e) we will be working with the table <br>
``` homework9_table ``` in the SQL server. You are required to use <br>
the ```read_sql``` command for all the following questions.


<font size = "5">

(b) Subset and sort


<font size = "3">

- Use ```WHERE``` to get a subset of "homework9_table" to subset <br>
drivers whose nationality is British.
- Chain this with ```ORDER BY driver_name ASC``` to sort in <br>
ascending order <br>
Hints:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command without any additional escape characters

In [23]:
# Write your own code

data = pd.read_sql(text("SELECT *\
                        FROM sprint_results\
                        WHERE nationality = 'British'\
                        ORDER BY driver_name ASC;"),connection)


display(data)

   Unnamed: 0  driver_id     driver_name nationality  lap_times
0           5          6    Henry Louvre     British         32
1           4          5  Lewis Hamilton     British        103
2           0          1    Simon Cowell     British         74

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

- Obtain the average of "lap_times" by "driverId" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "lap_times"
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```

In [33]:
# Write your own code

data1 = pd.read_sql(text("SELECT driver_id, AVG(lap_times) AS avg_lap_time\
                        FROM sprint_results\
                         GROUP BY driver_id\
                         ORDER BY AVG(lap_times);"),connection)

display(data1)

   driver_id  avg_lap_time
0          9          11.0
1         10          24.0
2          2          26.0
3          6          32.0
4          8          53.0
5          1          74.0
6          3          82.0
7          4          87.0
8          7          91.0
9          5         103.0

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- Obtain the sum of "lap_times" by nationality using ```GROUP BY```
- Use ```HAVING ``` to filter nationalities with a sum <br>
of lap times strictly higher than 150
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```



HINT: See the end of lecture 16 for details <br>
HINT: Use ```HAVING SUM(lap_times)``` rather than an alias <br>
for the code to work correctly.

In [ ]:
# Write your own code

data2 = pd.read_sql(text(""),connection)

<font size = "5">

(e) Groupby and multiple aggregations

<font size = "3">

- In this exercise we will obtain multiple statistics about each nationality and their lap times.
-  Obtain the sum, min, max, and range of each nationality's lap times using ```GROUP BY```
- Make sure to separate pieces of your code by a ```\``` <br>
HINT: There is no built in range function in SQL, however you can use the <br>
MAX and MIN functions to build your own function, like this:

``` MAX(lap_times)-MIN(lap_times) AS range_laptimes```

In [ ]:
# Write your own code